<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>lil Twit</title>
    <link rel="stylesheet" href="src/bootstrap/dist/css/bootstrap.min.css" media="screen" title="no title">
    <!-- Own CSS -->
    <link rel="stylesheet" href="src/css/custom.css" media="screen" title="no title">

  </head>
  <body>
    <div id="app">
      <div class="navbar navbar-default">
        <a class="navbar-brand" href="#">CMS</a>
      </div>
      <!--  -->
      <div class="container">
        <div class="jumbotron">
          <h1>the cms</h1>
          <button type="button" name="button" data-toggle="modal" data-target="#cms-toogle" >Add data</button>
        </div>

      </div>

      <!-- Modal -->
      <div class="modal fade" id="cms-toogle" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
              <h4 class="modal-title">CMS Input</h4>
            </div>
            <div class="modal-body">
              <div class="form-group row">
                <div class="col-xs-10 col-xs-offset-1">
                  <input class="form-control" type="text" v-model="letter" placeholder="letter">
                  <input class="form-control" type="text" v-model="frequency" placeholder="frequency">
                  <input class="form-control" type="date" v-model ="coming" placeholder="coming">
                  <div id="input-cms"></div>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
              <button type="button" class="btn btn-primary"  v-on:click="postTweet()" data-dismiss="modal">add</button>
            </div>
          </div>
        </div>
      </div>
      </div>
    </div>


    <!-- Bootstrap -->
    <script type="text/javascript" src="src/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="src/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- Script required to run view and axios -->
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script type="text/javascript" src="src/javascript/script.js"></script>
  </body>
</html>
